<%- include('../Layout/Header.ejs') %>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1 class="m-0">Category Data</h1>
                    </div>
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Category Data</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Table Section -->
                        <div class="card shadow-lg border-light rounded">
                            <div
                                class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                                <h5 class="m-0">Category Data</h5>
                                <!-- Add Category Button -->
                                <a href="/category" class="btn btn-dark text-primary btn-sm d-flex align-items-center">
                                    <i class="ri-add-circle-line mr-1"></i> Add New Category
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="d-flex w-50 my-1">
                                    <form class="d-flex w-100">
                                      <input type="search" value="<%= search %>" name="search" class="form-control"
                                        placeholder="Search Here.." style="margin:0 10px 0 0  ;">
                                      <button type="submit" class="btn btn-primary" style="margin:0 10px 0 0;">Search</button>
                                    </form>
                                    <a href="/category/ViewCategory" class="ms-2">
                                      <button class="btn btn-secondary">Reset</button>
                                    </a>
                                  </div>
                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Category</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% CategoryData.map((v, i)=> { %>
                                            <tr>
                                                <td>
                                                    <%= i + 1 %>
                                                </td>
                                                <td>
                                                    <%= v.category %>
                                                </td>
                                                <td>
                                                    <% if(v.status){%>
                                                        <a href="/category/changeStatus/?catId=<%= v.id %>&status=true"
                                                            class="btn btn-success">Active</a>
                                                        <% } else { %>
                                                            <a class="btn btn-danger"
                                                                href="/category/changeStatusTrue/?catId=<%= v.id %>&status=false">Deactive</a>
                                                            <% } %>
                                                </td>
                                                <td class="d-flex justify-content-center">
                                                    <!-- Delete Button with Tooltip -->
                                                    <a href="/category/DeleteCategory/?id=<%= v.id %>"
                                                        class="text-danger text-decoration-none" data-toggle="tooltip"
                                                        data-placement="top" title="Delete">
                                                        <i class="ri-delete-bin-6-line h4"
                                                            style="margin-right: 15px;"></i>
                                                    </a>
                                                    <!-- Edit Button with Tooltip -->
                                                    <a href="/category/UpdateCategory/<%= v.id %>"
                                                        class="text-warning text-decoration-none" data-toggle="tooltip"
                                                        data-placement="top" title="Edit">
                                                        <i class="ri-edit-2-fill h4"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between mt-4">
                                    <a href="/category/ViewCategory/?page=<%= parseInt(page) - 1 %>&search=<%= search %>"
                                        class="btn btn-primary">Prev</a>
                                    <div>
                                        <% for(i=0;i<=page;i++){ %>
                                            <a href="/category/ViewCategory/?page=<%= i %>&search=<%= search %>"
                                                class="btn btn-outline-primary mx-1">
                                                <%= i %>
                                            </a>
                                            <% } %>
                                    </div>
                                    <a href="/category/ViewCategory/?page=<%= parseInt(page) + 1 %>&search=<%= search %>"
                                        class="btn btn-primary">Next</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <%- include('../Layout/Footer.ejs') %>